boto3==1.22.9
botocore==1.25.9
Django==4.0.2
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-environ==0.9.0
django-storages==1.12.3
djangorestframework==3.13.1
gunicorn==20.1.0
music-tag==0.4.3
mutagen==1.45.1
Pillow==9.0.1
whitenoise==6.0.0
