.music-player-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*transform: translateY(120%);*/
  height: 100%;
  box-shadow: rgba(213, 221, 236, 0.4) 20px 20px 20px 20px;
  z-index: 1000;
  transition-duration: 0.5s;
  background-image: linear-gradient(90deg, var(--bgcolor1), var(--bgcolor1));
  color: var(--bodytext);
}

.show {
  transform: none;
}

.music-container {
  margin-top: 40px;
  position: relative;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  padding: 15px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#close-player {
  font-size: 2rem;
  position: absolute;
  top: -20px;
  left: 20px;
}


.music-info #title {
  font-size: 1rem;
}

.img-container {
  background-position: center;
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
}

.img-container img#cover {
  margin: 0 auto;
  width: 100%;
  border-radius: 6px;
}

#music-icon i {
  width: 100%;
  background-color: rgba(255,255,255, 0.1);
  color: var(--bodytext);
  font-size: 18rem;
}

.music-container #title {
    height: 50px;
}

.progress {
  background-image: linear-gradient(90deg, var(--buttonbg1), var(--buttonbg2));
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.progress-container {
background: var(--bodytext);
border-radius: 5px;
cursor: pointer;
margin: 10px 0;
height: 4px;
width: 100%;
}

#progress-time {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.music-player-modal button {
  border: transparent;
  color: var(--bodytext);
  font-size: 2rem;
  background: transparent;
}

@media (max-width: 440px) {
  .music-container {
    margin-top: 100px;
      max-width: 85%;
  }
}

.show, .show *:not(.fas) {
  all: unset;
}

.show #close-player {
  display: none;
}

.show {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: var(--boxshadowcolor);
  z-index: 1000;
  /*transition-duration: 0.5s;*/
  background-image: linear-gradient(90deg, var(--bgcolor2), var(--bgcolor2));
  color: var(--bodytext);
}

.show .music-container {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.show .img-container {
  background-position: center;
  background-size: cover;
  width: 30%;
}

.show img#cover {
  margin: 0 auto;
  height: 40px;
  width: 40px;
  border-radius: 6px;
}

.show .music-info {
  width: 30%;
  line-height: 50%;
}

.show #title {
    font-size: 10px;
}

.show .navigation {
  width: 40%;
  font-size: 1.5rem;
}

.show .current, .show .duration {
  display: none;
}